@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=Be+Vietnam+Pro:wght@400;500;700;800&family=Big+Shoulders+Display:wght@900&family=Chivo&family=Hanken+Grotesk:wght@500;600;700&family=IBM+Plex+Sans:wght@400;700&family=JetBrains+Mono:wght@700&family=Josefin+Sans:wght@300;400;600&family=Kumbh+Sans:wght@400;700;800&family=Manrope:wght@800&family=Open+Sans&family=Outfit:wght@300&family=Plus+Jakarta+Sans:wght@700;800&family=Poppins:wght@200;300;400;600&family=Raleway:wght@400;700&family=Space+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: hsla(248, 15%, 11%, 1);
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #817D92;
}

.wrapper {
    margin-top: 31px;
}

.wrapper .input-box {
    position: relative;
}

.green {
    filter: grayscale(90%) brightness(90%) sepia(50%) hue-rotate(50deg) saturate(400%);
}

.input-box input {
    width: 100%;
    height: 80px;
    font-weight: 700;
    font-size: 32px;
    padding: 19px 28px 19px 32px;
    border: 0;
    color: hsla(252, 11%, 91%, 1);
    background-color: hsla(247, 11%, 15%, 1);
}

.input-box img {
    position: absolute;
    right: 13px;
    top: 30px;
    cursor: pointer;
    width: 21px;
    height: 24;
}

.copied {
    position: absolute;
    right: 60px;
    top: 30px;
    color: #A4FFAF;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}


.pass-properties {
    background-color: hsla(247, 11%, 15%, 1);
    margin-top: 24px;
    padding: 24px 24px 32px 32px;
}

.pass-properties label {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #E6E5EA;
}

.slider-container {
    position: relative;
    width: 100%;
}

.slider-track {
    width: 50%;
    height: 8px;
    background: #A4FFAF;
    outline: none;
    position: absolute;
    margin-top: 7px;
    z-index: 1;
}

.slider {
    appearance: none;
    width: 100%;
    height: 8px;
    outline: none;
    background-color: #18171F;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    height: 28px;
    width: 28px;
    background-color: white;
    appearance: none;
    border-radius: 14px;
    z-index: 2;
    position: relative;
}

input[type="range"]:hover::-webkit-slider-thumb {
    background-color: #18171F;
    border: 2px solid #A4FFAF;
    appearance: none;
}


.pass-settings {
    margin-top: 23px;
}

.pass-settings .option {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: 19px;
}

.options .option input {
    height: 20px;
    width: 20px;
    border-radius: 0px;
}

input[type="checkbox"] {
    accent-color: #A4FFAF;
}

.options .option label {
    cursor: pointer;
    margin-left: 24px;
}

.display-length {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pass-length {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
}

.pass-length span {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0px;
    color: hsla(127, 100%, 82%, 1);
}

.pass-strength {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 31px;
}

.pass-strength p {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #817D92;
    text-transform: uppercase;
}

.pass-strength span {
    font-weight: 700;
    font-size: 24px;
    color: #E6E5EA;
}

.scales {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    height: 100%;
}

.scale_bar {
    height: 28px;
    width: 10px;
    border: 2px solid #E6E5EA;
    background-color: transparent;
}


.tooWeak {
    border: 2px solid #F64A4A;
    background-color: #F64A4A;
}

.weak {
    border: 2px solid #FB7C58;
    background-color: #FB7C58;
}

.medium {
    border: 2px solid #F8CD65;
    background-color: #F8CD65;
}

.strong {
    border: 2px solid #A4FFAF;
    background-color: #A4FFAF;
}

.empty {
    border: 2px solid #E6E5EA;
    background-color: transparent;
}


input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #E6E5EA;

}

input[type="checkbox"]:checked {
    -webkit-appearance: none;
    appearance: none;
    background-color: #A4FFAF;
    display: grid;
    place-content: center;
    border: 0;
}

input[type="checkbox"]::before {
    content: "";
    width: 11.39px;
    height: 8px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em solid #18171F;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    background-color: CanvasText;

}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.generate-button {
    font-family: 'JetBrains Mono', monospace;
    margin-top: 32px;
    width: 100%;
    border: 1px solid hsla(127, 100%, 82%, 1);
    background-color: hsla(127, 100%, 82%, 1);
    color: hsla(247, 11%, 15%, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    background-image: url(/asset/arrow.svg);
    background-repeat: no-repeat;
    background-position: 70%;
    width: 100%;
    height: 65px;
}

.generate-button:hover {
    background-color: transparent;
    border: 1px solid hsla(127, 100%, 82%, 1);
    color: hsla(127, 100%, 82%, 1);
    background-image: url(/asset/arrow-green.svg);
}

@media only screen and (max-width:400px) {

    body {
        padding: 64px 16px 64px 16px;
    }

    h1 {
        font-size: 16px;
    }

    .wrapper {
        margin-top: 0px;
    }

    .input-box input {
        font-size: 24px;
        margin-top: 16px;
    }

    .input-box img {
        width: 17.5px;
        height: 20px;
        top: 45px;
        right: 22px;
    }

    .copied {
        display: none;
    }

    .pass-properties {
        border-radius: 0px;
        margin-top: 16px;
    }

    .pass-properties label {
        font-size: 16px;
    }

    .pass-length span {
        font-size: 24px;
    }

    .pass-settings {
        margin-top: 32px;
    }

    .pass-settings .option {
        display: flex;
        margin-top: 16px;
        column-gap: 20px;
    }

    .options .option label {
        margin-left: 0px;
        font-size: 16px;
    }

    .pass-strength {
        margin-top: 32px;
    }

    .generate-button {
        margin-top: 16px;
        height: 56px;
        width: 311px;
        font-size: 16px;
    }

    .pass-strength span {
        font-size: 18px;
    }
}